<%= turbo_frame_tag "calendar" do %>
  
  <!-- date selector section -->

  <%= form_with(url: "/booking_items", method: :get) do |form| %>
    <%= form.date_field :start_date, value: current_date  %>
    <%= form.submit 'get date' %>
  <% end %>
  
  <%= form_with(url: "/booking_items", method: :get) do |form| %>
    <%= form.date_field :start_date, value: (current_date - 7.days), class: "visually-hidden" %>
    <%= form.submit 'previous week' %>
  <% end %>
  
  <%= form_with(url: "/booking_items", method: :get) do |form| %>
    <%= form.date_field :start_date, value: (current_date + 7.days), class: "visually-hidden" %>
    <%= form.submit 'next week' %>
  <% end %>
  
  <hr>
  
  <!-- date selector end -->
  
  <!-- calendar section -->
  
  <% 
    dates_array = (current_date..(current_date + 7)).to_a 
    
    room_list = [
      "Durian Runtuh",
      "Rahsiah",
      "Senjja",
      "Evensong",
      "Sasterawan",
      "Khemah"
    ]
  
    customer_list = []
  %>
  
  <table id="calendar-table" class="table table-bordered">
    <thead>
      <th scope="col">Room</th>
      
      <% dates_array.map{|x| x.strftime("%a %d")}.each do |calendar_day_string| %>
        <th><%= calendar_day_string %></th>
      <% end %>
    </thead>
    <tbody>
      <% room_list.each do |room_name| %>
        <tr id="#{room_name}_row">
          <td><%= room_name %></td>
            <% dates_array.each do |calendar_day| %>
              <td>
                <% inventory_present = booking_items.where("inventories.name = ?", room_name).where("start_date <= ?", calendar_day).where("end_date > ?", calendar_day).first %>
                <% if inventory_present.present? %>
                  <%= inventory_present.booking.customer.name %>
                  <% customer_list.push(inventory_present.booking.customer) %>
                <% end %>
              </td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <!-- calendar section end -->
  <hr>
  <!-- customer section  -->
  <table id="customer_details_table" class="table table-bordered">
    <thead>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Visits</th>
      <th>Last Visit</th>
    </thead>
    <tbody>
      <% customer_list.uniq.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.phone %></td>
          <td><%= customer.email %></td>
          <td><%= customer.bookings.count %></td>
          <td>
            <% if customer.bookings.count > 1 %>
              <%= customer.bookings.order(:created_at).last(2).first.booking_items.order(:start_date).last.start_date.to_formatted_s(:long) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!-- customer section end -->
  
  
  
  
<% end %>