<!--Local variables for form
  1. path - eg: member_groups_path
  2. target_dom - eg: member_group_search_results (a named turbo dom element on the page)
  3. search_criteria: {
      facility_type: array of values for checkboxes,
      registration_status: array of values for checkboxes,
      engagement_status: array of values for checkboxes
    }
-->

<%= turbo_frame_tag "filtered-search-bar" do %>
  <%= form_with(url: path, method: :get) do |form| %>
    <div class="input-group">
      <span class="btn border p-3 py-sm-2 px-sm-3" data-bs-toggle="collapse" data-bs-target="#filter-collapsable" aria-expanded="false" aria-controls="filter-collapsable"><i class="bi bi-funnel"></i></span><!--Filter button-->
      <%= form.text_field :target_dom, value: target_dom, class: "visually-hidden" %>
      <%= form.search_field :search, value: params[:search], class: "form-control py-0", placeholder: "Enter search text" %> <!--Search bar-->
      <span class="input-group-text p-0 "><%= form.submit 'Search', class: "btn btn-primary h-100 rounded-start-0"%></span><!--Search bar button-->
    </div>
    <div class="input-group collapse rounded-bottom p-3 px-sm-0 py-sm-2" id="filter-collapsable">
      
      <div class="d-flex flex-column flex-sm-row w-100 justify-content-between">
        <div class="">
          <p class="">Filtered by:</p>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-end flex-wrap">
        <% search_criteria.each do |field, options| %>
          <div id="<%= field %>_dropdown" class="dropdown ms-sm-2">
            <a class="dropdown-toggle btn btn-secondary w-100 text-start px-4 px-sm-3 custom-font-12 rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false"><%= field.to_s.titleize %></a>
            <ul class="dropdown-menu scrollable-menu w-100 w-sm-fit">
              <% options.each do |option| %>
                <li class="dropdown-item ">
                  <%= check_box_tag "#{field}[]", option, params[field]&.include?(option), id: "#{field}_#{option}", class: "#{field}_checkbox" %>
                  <span class="form-label"><%= option %></span><br>
                </li>
              <% end %>
            </ul>
          </div>
          <hr class="w-100 d-sm-none">
        <% end %>
        </div>
        
      </div>
      
      <div class="w-100 text-end">
        <a class="text-end btn btn-default" onclick='reset_selection()'>Reset Filters</a>
      </div>
      
    </div>
  <% end %>
<% end %>

<script>
    //Reset button
    function reset_selection() {
      var checkboxes = document.querySelectorAll('input[type="checkbox"]');
      checkboxes.forEach(function(checkbox) {
        checkbox.checked = false;
      })
    }
      
</script>
