<%= turbo_frame_tag "btu_output_search_results" do %>
  <%= render partial: "partials/wags_search_criteria_description", locals: {
    dataobjects: btu_outputs,
    params: params
  } %>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">BIO Transformation Unit</th>
        <th scope="col">Sale Date</th>
        <th scope="col">Sale Price</th>
        <th scope="col">Usage Type</th>
        <th scope="col">Volume (mT)</th>
      </tr>
    </thead>
    <tbody>
      <% btu_outputs.each do |btu_output| %>
        <tr id="<%= dom_id(btu_output)%>_data">
          <td><%= turbo_frame_tag "#{dom_id(btu_output)}_data_id" do %><%= btu_output.id %><% end %></td>
          <td><%= turbo_frame_tag "#{dom_id(btu_output)}_data_name" do %><%= link_to btu_output.name, btu_output, data: { turbo_frame: '_top' } %><% end %></td>
          <td><%= turbo_frame_tag "#{dom_id(btu_output)}_data_btu" do %><%= link_to btu_output.bio_transformation_unit.name, btu_output.bio_transformation_unit, data: { turbo_frame: '_top' } %><% end %></td>
          <td><%= turbo_frame_tag "#{dom_id(btu_output)}_data_sale_date" do %><%= btu_output.sale_date.to_formatted_s(:long_ordinal) %><% end %></td>
          <td><%= turbo_frame_tag "#{dom_id(btu_output)}_data_sale_price" do %><%= btu_output.sale_currency %><%= btu_output.sale_price %><% end %></td>
          <td><%= turbo_frame_tag "#{dom_id(btu_output)}_data_usage_type" do %><%= btu_output.usage_type %><% end %></td>
          <td><%= turbo_frame_tag "#{dom_id(btu_output)}_data_volume" do %><%= btu_output.volume_mt %>mT<% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>