
<%= render partial: "partials/notices"%>

<%= turbo_frame_tag "customer_form" do %>
  <h3>Customer Form</h3>
  
  <!-- Customer form -->
  <%= form_with(model: customer, id: "customer-form") do |form| %>
  
    
    <%= form.label :name, "Your name" %>
    <%= form.text_field :name %>
    
    <%= form.label :email, "Email" %>
    <%= form.text_field :email %>
    
    <%= form.label :phone, "Phone" %>
    <%= form.text_field :phone %>
    
    <%= form.label :address, "Address" %>
    <%= form.text_field :address %>
    
    <%= form.submit "Submit" %>
  <% end %>
<% end %>
<hr>
<%= turbo_frame_tag "booking_form" do %>
  <%= form_with(model: booking, id: "booking-form") do |form| %>
    <h3>Booking Form</h3>
    
    <!--dates section-->
    <%= form.label :start_date, "Arrival Date" %>
    <%= form.date_field :start_date %>
    
    <%= form.label :end_date, "Departure Date" %>
    <%= form.date_field :end_date %>
    
    <!--dates section end-->
    
    <!--booking-items section-->
    
    
    <!--booking-items end-->
    
    <%= form.submit "Search" %>
  <% end %>
<% end %>