<h3>Booking Form</h3>

<%= render partial: "partials/notices"%>

<%= turbo_frame_tag "booking_form" do %>
  <!-- Customer form -->
  <%= form_with model: @cart, url: wizard_path, method: :put, id: "booking-form" do |form| %>
  
    <%= form.label :name, "name" %>
    <%= form.text_field :name %>
    
    <%= form.label :email, "Email" %>
    <%= form.email_field :email %>
    
    <%= form.label :phone, "Phone" %>
    <%= form.text_field :phone %>
    
    <%= form.label :address, "Address" %>
    <%= form.text_field :address %>
    
    <%= form.label :start_date, "Start Date" %>
    <%= form.date_field :start_date %>
    
    <%= form.label :end_date, "End Date" %>
    <%= form.date_field :end_date %>
    
    <%= form.submit "Submit" %>
  <% end %>
<% end %>