<h3>Customer Form</h3>

<%= render partial: "partials/notices"%>

<%= turbo_frame_tag "customer_form" do %>
  <!-- Customer form -->
  <%= form_with(model: @customer, scope: :customer, id: "customer-form", url: customers_path) do |form| %> 
  
    <%= form.label :name, "Your name" %>
    <%= form.text_field :name %>
    
    <%= form.label :email, "Email" %>
    <%= form.text_field :email %>
    
    <%= form.label :phone, "Phone" %>
    <%= form.text_field :phone %>
    
    <%= form.label :address, "Address" %>
    <%= form.text_field :address %>
    
    <%= form.submit "Submit" %>
  <% end %>
<% end %>